<li>
    <img src="<%= suggestion.resident.image %>" alt="trekker foto">
    <div>
        <h3><%= suggestion.resident.first_name %> <%= suggestion.resident.last_name %></h3>
        <h4><%= suggestion.resident.bio %></h4>
    </div>
</li>