<li>
    <img src="<%= suggestion.image %>" alt="suggestion-items">
    <div>
        <h3><%= suggestion.title %></h3>
        <section class="join" id="suggestion-label">
            <% suggestion.theme.forEach(theme => { %>
                <h4> <%= theme %> </h4>
                  <% }) %>
        </section>
        <ul class="statistics">
            <li>  <img src="../../images/trekkers.svg" alt="ambassador"> <span>5</span></li>
            <li><i class="fa-regular fa-handshake fa-lg" style="color: #000000;"></i> <span>2</span></li>
            <li><i class="fa-regular fa-thumbs-up fa-lg" style="color: #000000;"></i><span><%= suggestion.amount_vote%></span></li>
        </ul>
    </div>
</li>