<fieldset>
    <ul>
        <li class="theme-btn" data-filter-target="#theme">
            <span> <b>Filteren op:</b></span>
            <span>Thema<i class="fa-solid fa-angle-down"></i></span>
        </li>
        <li>
            <span>Zoek op trefwoord</span>
            <label for="search">
                <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
                <input type="text" name="search" id="search" placeholder="Zoek op treftwoord">
            </label>
        </li>
        <li class="sort-btn" data-filter-target="#sorting">
            <span>Sorteren op:</span>
            <span>Meest recente <i class="fa-solid fa-angle-down"></i></span>
        </li>
    </ul>
    <section class="filter-content">
        <article id="theme" data-filter-content>
            <ul class="theme-filter-items">
                <% themes.forEach(theme => { %>
                <li><label><input type="checkbox" name="theme" value="<%= theme.label%>"><span><%= theme.label%></span></label></li>
                <% }) %>
            </ul>
            <button class="filter-theme-results-btn" type="submit" aria-label="toon resultaten">Toon resultaten</button>
        </article>
    <article id="sorting" data-filter-content>
        <ul class="sorting-filter-items">
            <li><label><input type="radio" name="sort" value="recent"><span>Meest recente</span></label></li>
            <li><label><input type="radio" name="sort" value="delers"><span>Meest gedeeld</span></label></li>
            <li><label><input type="radio" name="sort" value="trekkers"><span>Meeste trekkers</span></label></li>
            <li><label><input type="radio" name="sort" value="helpers"><span>Meeste helpers</span></label></li>
        </ul>
        <button class="filter-sort-results-btn" type="submit">Toon resultaten</button>
    </article>
    </section>
</fieldset>