<nav class="inlog-container">
    <ul>
        <li><a href="#">Iets Plaatsen</a></li>
        <li><a href="#">Inloggen of Registreren</a></li>
    </ul>
</nav>

<div class="menuContainer">
    <button class="menuButton" aria-label="menu button">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w250h250/98691/2022/50/hseTekengebied_8.png"
        alt="Strandeiland logo">
</div>


<nav class="navigation-links">
    <ul>
        <li><img src="https://hallostrandeiland.nl/blobs/gebiedsplatform/w250h250/98691/2022/50/hseTekengebied_8.png"
                alt="Strandeiland logo"></li>
        <li><a href="#">Berichten</a></li>
        <li><a href="#">Activiteiten</a></li>
        <li><a href="#">Over strandeiland</a></li>
        <li><a href="#">Planning</a></li>
        <li><a href="#">Participatieteam</a></li>
        <li><a href="#">Personen</a></li>
        <li><a href="#">Organisaties</a></li>
        <li>
            <span>

                <a href="/">Wensen</a>
            </span>
        </li>
    </ul>
</nav>