<selectmenu name="sort" id="sort" class="select-menu-sorting">
    <option value="recent">Meest recent</option>
    <option value="delers">Meest gedeeld</option>
    <option value="trekkers">Meeste trekkers</option>
    <option value="helpers">Meeste helpers</option>
</selectmenu>