
<section class="thumbnail-container">
    <figure>
        <img src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
            alt="Vanuit het natuur">
        <figcaption>Natuur</figcaption>
    </figure>



    <a href="/detailpage-1">

        <article>

            <ul class="user-info">
                <li>Pieter van der baas</li>
                <li>1 Juni 2023</li>
            </ul>

            <h2>Meer groen in de wijken</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                reiciendis
                provident repudiandae perspiciatis illo .</p>

            <ul class="statistics">
                <li> <span> Stemmers:</span> 11k</li>
                <li><span>Trekkers:</span> 2</li>
            </ul>
        </article>
    </a>


</section>