<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head');  %>
    <link rel="stylesheet" href="/css/detail-page.css">

<body>
    <header>
        <%- include('./partials/header');  %>
    </header>

    <main>
        <!-- <a href="#">Terug</a> -->

        <!-- Wens artikel -->
        <!-- <section>
            <p>wens</p>
            <h1>Ik zou graag een skeelerroute willen op Strandeiland</h1>
            <h3>Opgroeien van kinderen > Tieners</h3>
            <img src="" alt="skeelerende kinderen">
            <p>Geplaatst op 31 augustus 2023, 16:26 uur</p>
            <p>Het enige skatepark in Amsterdam 'Everland' in Amsterdam 
                Noord is recentelijk gesloten. Er zijn op IJburg vele 
                jongeren die skaten als hobby hebben. Sporten en bewegen 
                is voor jongeren goed voor hun totale ontwikkeling. 
                Nu skaten zij op trappen, in gargages en open ruimten 
                tussen woonblokken op IJburg. Dit veroorzaakt overlast 
                voor de omwonenden. Gezien de vele open plekken, 
                leegstaande gebouwen en de grote groep (toekomstige) 
                jongeren op IJburg lijkt mij dit de plek in Amsterdam
                voor een bruisend nieuw skatepark.
            </p>
            <button>Ik deel deze wens</button>
            <button>Help mee</button>
            <button>Word trekker</button>
        </section> -->

        <!-- trekkers -->
        <!-- <section>
            <h2>Trekkers</h2>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
            <div>
                <img src="" alt="">
                <h3></h3>
            </div>
        </section> -->

        <!-- helpers -->
        <!-- <section>
            <h2>Helpers</h2>
           <img src="" alt="">
           <img src="" alt="">
           <img src="" alt="">
        </section> -->

        <!-- delers -->
        <!-- <section>
            <h2>Delers</h2>
           <img src="" alt="">
           <img src="" alt="">
           <img src="" alt="">
        </section> -->

        <!-- chat -->
        <section class="chat">
            <h2>Chat</h2>
            <section class="chat-messages">
                <div class="you">
                    <h3>Bobby Brown</h3>
                    <div>
                        <p>vertel!</p>
                        <img src="/images/bob.jpeg" alt="bob">
                    </div>
                </div>
                <div class="other">
                    <h3>Helen Algazzi</h3>
                    <div>
                        <img src="/images/helen.jpeg" alt="helen">
                        <p>Ik wou heb hebben over deze wens</p>
                    </div>
                </div>
                <div class="you">
                    <h3>Bobby Brown</h3>
                    <div>
                        <p>Wat vinden jullie?</p>
                        <img src="/images/bob.jpeg" alt="bob">
                    </div>
                </div>

                <input type="text" class="chat-bericht" placeholder="Stuur een bericht">
                <button class="send"></button>
            </section>
        </section>

    </main>

    <!-- footer -->
    <footer>
        <%- include('./partials/footer');  %>
    </footer>
</body>

</html>