<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head');  %>
</head>
<body>
    <header>
        <%- include('./partials/header');  %>
    </header>
    
    <main>
        <!-- Wens bericht -->
        <section>
            <h1>Wens 1</h1>
            <img src="" alt="">
            <p></p>
        </section>

        <!-- word trekker/ helper/ deler -->
        <section>
            <button>Word Trekker</button>
            <button>Word Helper</button>
            <button>Word Deler</button>
        </section>

        <!-- trekkers -->
        <section>
            <h2>Trekkers</h2>
            <div>
                <img src="" alt="">
                <h3>Bob Kaars</h3>
            </div>
            <div>
                <img src="" alt="">
                <h3>Pip Snoep</h3>
            </div>
        </section>

        <!-- helpers -->
        <section>
            <h2>Helpers</h2>
            <div>
                <img src="" alt="">
                <h4>Sanne</h4>
            </div>
            <div>
                <img src="" alt="">
                <h4>Ahmet</h4>
            </div>
            <div>
                <img src="" alt="">
                <h4>Markus</h4>
            </div>
            <div>
                <img src="" alt="">
                <h4>Karla</h4>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <%- include('./partials/footer');  %>
    </footer>
</body>
</html>