<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head');  %>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header>
        <%- include('./partials/header');  %>
    </header>

<h1>Voorstel</h1>

<div class="form-container">
<form action="/formulier" method="post" enctype="application/x-www-form-urlencoded">

    <fieldset>
        <label for="titel">Titel</label>
        <textarea name="titel" id="titel" cols="30" rows="10" placeholder="Geef uw voorstel een titel"required></textarea>
    
        <label for="beschrijving">Voorstel beschrijving</label>
        <textarea name="beschrijving" id="beschrijving" cols="30" rows="10" placeholder="Beschrijf uw voorstel zo duidelijk mogelijk"required></textarea>
    
        <label for="thema" >Thema's</label>
        <select name="thema" id="thema">
            <option value="" disabled selected hidden>Selecteer één thema</option>
            <option value="strand">Strand</option>
            <option value="huis">Huis</option>
            <option value="centrum">Centrum</option>
        </select>

        <label for="afbeelding" >Afbeelding</label>
        <div class="file-input-container">
        <input type="file" id="file" name="file">
        
    </div>

    </fieldset>
   

    <input type="submit" value="Versturen" id="versturen">

</form>
</div>





</body>
</html>