<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head');  %>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header>
        <%- include('./partials/header');  %>
    </header>

    <!-- <div class="terug-btn">
        <a href="next_page.html">
            <img src="/images/terug.png" alt="Terug">
            <p>Terug</p>
          </a>
    </div> -->



<h1>Voorstel</h1>




<div class="form-container">
<form action="/form" method="post" enctype="application/x-www-form-urlencoded">

    <fieldset>
        <label for="titel">Titel</label>
        <input type="text" id="titel" name="titel"
        placeholder="Geef uw voorstel een titel"required>
    
        <label for="beschrijving" >Voorstel beschrijving</label>
        <textarea name="beschrijving" id="beschrijving" cols="30" rows="10" placeholder="Beschrijf uw voorstel zo duidelijk mogelijk"required></textarea>
        
        <label for="thema">Thema's</label>
       



        <fieldset class="dropdown">
            <div class="selected-option">Selecteer de passende thema's <span class="arrow"></span></div>
        <div class="dropdown-container" id="themeDropdownMenu">

            <ul class="dropdown-menu" >
                <li><label><input type="checkbox" value="Sport">Sport</label></li>
                <li><label><input type="checkbox" value="Recreatie">Recreatie</label></li>
                <li><label><input type="checkbox" value="Verkeer">Verkeer</label></li>
                <li><label><input type="checkbox" value="Winkels">Winkels</label></li>
                <li><label><input type="checkbox" value="Natuur">Natuur</label></li>
                <li><label><input type="checkbox" value="Milieu">Milieu</label></li>
                <li><label><input type="checkbox" value="Jeugd">Jeugd</label></li>
                <li><label><input type="checkbox" value="Veiligheid">Veiligheid</label></li>
                <li><label><input type="checkbox" value="Cultuur">Cultuur</label></li>
                <li><label><input type="checkbox" value="Huisvesting">Huisvesting</label></li>
                <li><label><input type="checkbox" value="Infrastructuur">Infrastructuur</label></li>
                <li><label><input type="checkbox" value="Strand">Strand</label></li>
                <li><label><input type="checkbox" value="Onderwijs">Onderwijs</label></li>
                <li><label><input type="checkbox" value="Overig">Overig</label></li>
            </ul>
        </div>
        </fieldset>

        
        <label for="afbeelding" >Afbeelding</label>
        <div class="file-input-container">
        <img src="/images/wolkje.png" alt="een wolkje dat staat voor uploaden van een afbeelding">
        <p>Selecteer een bestand</p>
        <input type="file" id="file" name="file" accept="image/jpeg, image/png, image/jpg" required>
        
    </div>

    <div id="links">

        <label for="links">Websites waar je rechtvrije afbeelding kan vinden</label>
        <div class='linkjes'>
            <a href="https://unsplash.com/">Unsplash</a>
            <a href="https://www.pexels.com/nl-nl/">Pexels</a>
            <a href="https://pixabay.com/nl/">Pixabay</a>
        </div>
       
     



    </div>
    </fieldset>

    <input type="submit" value="Voorstel aanmaken" id="versturen">

</form>
</div>





</body>
</html>