<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head');  %>
</head>
<body>
    <header>
        <%- include('./partials/header');  %>
    </header>

    <h1>werkt het?</h1>
</body>
</html>