<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/overview-page.css">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <div class="slogan-container">
 <h1>
  <span>Draag bij</span>
  <span>aan</span>
  <span>Strandeiland</span>
  <span>Jouw ideeën, <br> onze toekomst!</span>
</h1>
  </div>

  <main>

    <section class="thunbnail-container">
      <figure>
        <img src="#" alt="Vanuit het natuur">
        <figcaption>Natuur</figcaption>
      </figure>

      <ul class="user-info">
        <li>Pieter van der baas</li>
        <li>1 Juni 2023</li>
      </ul>

      <article>
        <h2>Meer groen in de wijken</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero reiciendis
          provident repudiandae perspiciatis illo .</p>

      </article>

      <ul class="statistics">
        <li>Stemmers: 11k</li>
        <li>Trekkers: 2</li>
      </ul>
    </section>

    <section class="thunbnail-container">
      <figure>
        <img src="#" alt="Vanuit het natuur">
        <figcaption>Natuur</figcaption>
      </figure>

      <ul class="user-info">
        <li>Pieter van der baas</li>
        <li>1 Juni 2023</li>
      </ul>

      <article>
        <h2>Meer groen in de wijken</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero reiciendis
          provident repudiandae perspiciatis illo .</p>

      </article>

      <ul class="statistics">
        <li>Stemmers: 11k</li>
        <li>Trekkers: 2</li>
      </ul>
    </section>

    <section class="thunbnail-container">
      <figure>
        <img src="#" alt="Vanuit het natuur">
        <figcaption>Natuur</figcaption>
      </figure>

      <ul class="user-info">
        <li>Pieter van der baas</li>
        <li>1 Juni 2023</li>
      </ul>

      <article>
        <h2>Meer groen in de wijken</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero reiciendis
          provident repudiandae perspiciatis illo .</p>

      </article>

      <ul class="statistics">
        <li>Stemmers: 11k</li>
        <li>Trekkers: 2</li>
      </ul>
    </section>



  </main>
 
</body>

</html>