<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
    <link rel="stylesheet" href="/css/overview-page.css">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <div class="slogan-container">
    <h1>
      <span>Draag bij</span>
      <span>aan</span>
      <span>Strandeiland</span>
      <span>Jouw ideeën, <br> onze toekomst!</span>
    </h1>
  </div>

  <main>

    <!--  -->
    <form>
      <fieldset>
        <div class="tab">
          <button class="tablinks">Thema </button>
          <button class="tablinks">Sorteren</button>
        </div>


        <article id="theme" class="tabcontent ">
          <ul>
            <li><label><input type="checkbox" name="theme" value="sport"><span>Sport</span></label></li>
            <li><label><input type="checkbox" name="theme" value="recreatie"><span>Recreatie</span></label></li>
            <li><label><input type="checkbox" name="theme" value="verkeer"><span>Verkeer</span></label></li>
            <li><label><input type="checkbox" name="theme" value="Winkels"><span>Winkels</span></label></li>
            <li><label><input type="checkbox" name="theme" value="natuur"><span>Natuur</span></label></li>
            <li><label><input type="checkbox" name="theme" value="milieu"><span>Milieu</span></label></li>
            <li><label><input type="checkbox" name="theme" value="jeugd"><span>Jeugd</span></label></li>
            <li><label><input type="checkbox" name="theme" value="veiligheid"><span>Veiligheid</span></label></li>
            <li><label><input type="checkbox" name="theme" value="cultuur"><span>Cultuur</span></label></li>
            <li><label><input type="checkbox" name="theme" value="huisvesting"><span>Huisvesting</span></label></li>
            <li><label><input type="checkbox" name="theme" value="infrastructuur"><span>Infrastructuur</span></label>
            </li>
            <li><label><input type="checkbox" name="theme" value="strand"><span>Strand</span></label></li>
            <li><label><input type="checkbox" name="theme" value="onderwijs"><span>Onderwijs</span></label></li>
            <li><label><input type="checkbox" name="theme" value="overig"><span>Overig</span></label></li>
          </ul>
        </article>

        <article id="sorting" class="tabcontent">
          <ul>
            <li><label><input type="checkbox" name="sort" value="recent"><span>Meest Recente</span></label></li>
            <li><label><input type="checkbox" name="sort" value="delers"><span>Meest gedeeld</span></label></li>
            <li><label><input type="checkbox" name="sort" value="trekkers"><span>Meeste trekkers</span></label></li>
            <li><label><input type="checkbox" name="sort" value="helpers"><span>Meeste helpers</span></label></li>
          </ul>
        </article>
      </fieldset>



    </form>

    <div class="content">

      <div class="most-popular-ideas">
        <h2>Populaire wensen</h2>
        <div class="scroll-snap">

          <section class="thumbnail-container">
            <figure>
              <img
                src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
                alt="Vanuit het natuur">
              <figcaption>Natuur</figcaption>
            </figure>



            <a href="#">

              <article>

                <ul class="user-info">
                  <li>Pieter van der baas</li>
                  <li>1 Juni 2023</li>
                </ul>

                <h2>Meer groen in de wijken</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                  reiciendis
                  provident repudiandae perspiciatis illo .</p>

                <ul class="statistics">
                  <li> <span> Stemmers:</span> 11k</li>
                  <li><span>Trekkers:</span> 2</li>
                </ul>
              </article>
            </a>


          </section>

          <section class="thumbnail-container">
            <figure>
              <img
                src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
                alt="Vanuit het natuur">
              <figcaption>Natuur</figcaption>
            </figure>



            <a href="#">

              <article>

                <ul class="user-info">
                  <li>Pieter van der baas</li>
                  <li>1 Juni 2023</li>
                </ul>

                <h2>Meer groen in de wijken</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                  reiciendis
                  provident repudiandae perspiciatis illo .</p>

                <ul class="statistics">
                  <li> <span> Stemmers:</span> 11k</li>
                  <li><span>Trekkers:</span> 2</li>
                </ul>
              </article>
            </a>


          </section>
          <section class="thumbnail-container">
            <figure>
              <img
                src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
                alt="Vanuit het natuur">
              <figcaption>Natuur</figcaption>
            </figure>



            <a href="#">

              <article>

                <ul class="user-info">
                  <li>Pieter van der baas</li>
                  <li>1 Juni 2023</li>
                </ul>

                <h2>Meer groen in de wijken</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                  reiciendis
                  provident repudiandae perspiciatis illo .</p>

                <ul class="statistics">
                  <li> <span> Stemmers:</span> 11k</li>
                  <li><span>Trekkers:</span> 2</li>
                </ul>
              </article>
            </a>


          </section>
          <section class="thumbnail-container">
            <figure>
              <img
                src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
                alt="Vanuit het natuur">
              <figcaption>Natuur</figcaption>
            </figure>



            <a href="#">

              <article>

                <ul class="user-info">
                  <li>Pieter van der baas</li>
                  <li>1 Juni 2023</li>
                </ul>

                <h2>Meer groen in de wijken</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                  reiciendis
                  provident repudiandae perspiciatis illo .</p>

                <ul class="statistics">
                  <li> <span> Stemmers:</span> 11k</li>
                  <li><span>Trekkers:</span> 2</li>
                </ul>
              </article>
            </a>


          </section>
          <section class="thumbnail-container">
            <figure>
              <img
                src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
                alt="Vanuit het natuur">
              <figcaption>Natuur</figcaption>
            </figure>



            <a href="#">

              <article>

                <ul class="user-info">
                  <li>Pieter van der baas</li>
                  <li>1 Juni 2023</li>
                </ul>

                <h2>Meer groen in de wijken</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                  reiciendis
                  provident repudiandae perspiciatis illo .</p>

                <ul class="statistics">
                  <li> <span> Stemmers:</span> 11k</li>
                  <li><span>Trekkers:</span> 2</li>
                </ul>
              </article>
            </a>


          </section>
        </div>

      </div>

      <h2> 2.500 resultaten</h2>
      <div class="grid-container">
        <section class="thumbnail-container">
          <figure>
            <img
              src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
              alt="Vanuit het natuur">
            <figcaption>Natuur</figcaption>
          </figure>



          <a href="#">

            <article>

              <ul class="user-info">
                <li>Pieter van der baas</li>
                <li>1 Juni 2023</li>
              </ul>

              <h2>Meer groen in de wijken</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                reiciendis
                provident repudiandae perspiciatis illo .</p>

              <ul class="statistics">
                <li> <span> Stemmers:</span> 11k</li>
                <li><span>Trekkers:</span> 2</li>
              </ul>
            </article>
          </a>


        </section>
        <section class="thumbnail-container">
          <figure>
            <img
              src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
              alt="Vanuit het natuur">
            <figcaption>Natuur</figcaption>
          </figure>



          <a href="#">

            <article>

              <ul class="user-info">
                <li>Pieter van der baas</li>
                <li>1 Juni 2023</li>
              </ul>

              <h2>Meer groen in de wijken</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                reiciendis
                provident repudiandae perspiciatis illo .</p>

              <ul class="statistics">
                <li> <span> Stemmers:</span> 11k</li>
                <li><span>Trekkers:</span> 2</li>
              </ul>
            </article>
          </a>


        </section>
        <section class="thumbnail-container">
          <figure>
            <img
              src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
              alt="Vanuit het natuur">
            <figcaption>Natuur</figcaption>
          </figure>



          <a href="#">

            <article>

              <ul class="user-info">
                <li>Pieter van der baas</li>
                <li>1 Juni 2023</li>
              </ul>

              <h2>Meer groen in de wijken</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                reiciendis
                provident repudiandae perspiciatis illo .</p>

              <ul class="statistics">
                <li> <span> Stemmers:</span> 11k</li>
                <li><span>Trekkers:</span> 2</li>
              </ul>
            </article>
          </a>


        </section>
        <section class="thumbnail-container">
          <figure>
            <img
              src="https://hallostrandeiland.nl/engine/download/blob/gebiedsplatform/w388h291-cropped/100343/2023/22/4000x3000Restaurant_en_watersport_brug_2080_1.jpg?app=gebiedsplatform&class=9329&id=77300&field=100343"
              alt="Vanuit het natuur">
            <figcaption>Natuur</figcaption>
          </figure>



          <a href="#">

            <article>

              <ul class="user-info">
                <li>Pieter van der baas</li>
                <li>1 Juni 2023</li>
              </ul>

              <h2>Meer groen in de wijken</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias consectetur ipsum libero
                reiciendis
                provident repudiandae perspiciatis illo .</p>

              <ul class="statistics">
                <li> <span> Stemmers:</span> 11k</li>
                <li><span>Trekkers:</span> 2</li>
              </ul>
            </article>
          </a>


        </section>


      </div>

      <aside class="latest-container">
        <h2>Laatste ideeën</h2>

        <div class="latest-wrapper">

          <figure class="lines">
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
            <div class="dot"></div>
            <div class="line"></div>
          </figure>

          <section class="latest-ideas">

            <article class="latest-idea">
              <p>12:30</p>
              <h3>Meer groen in de wijken</h3>

            </article>

            <article class="latest-idea">
              <p>12:00</p>
              <h3>Meer groen in de wijken</h3>
            </article>

            <article class="latest-idea">
              <p>11:50</p>
              <h3>Meer groen in de wijken</h3>

            </article>
            </article>
        </div>
      </aside>



  </main>

</body>

</html>