<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
  <link rel="stylesheet" href="/css/offline.css">
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header>

  <body>
      <main>
        <div class="content">
          <h2>Offline</h2>
          <h2>Offline</h2>  
          <p>Kan niet verbinden met internet</p>
        </div>
      </main>  
  </body>

</html>