:root {
  --yellow: #ffe700;
  --light-yellow: #FFF48C;
  --white: #ffffff;
  --black: #000000;
  --blue: #009ce0;
  --light-blue: #94DFFF;
  --light-grey: #f0f0eb;
  --dark-grey: #333333;
  --font: 'Poppins', sans-serif;

  --border-radius-small: 0.5em;
  --border-radius-medium: 2em;
  --border-radius-large: 4em;
}

#chat {
  transform: translateY(-10%);
  height: 26em;
  position: relative;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  border-radius: var(--border-radius-large);
}

#chat h2{
text-align: center;
}

.chat-section {
  overflow-y: scroll;
  height: 60%;
}

form {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 1em 0.5em 1em;
  padding: 0 1em 1em 0;

}

form input[type="text"] {
  font-family: Poppins, system-ui;
  background: var(--light-grey);
  border: none;
  border-radius: 25px;
  width: 90%;
  padding: 15px 20px;
}

form button {
  height: 50px;
  width: 50px;
  background: var(--blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#chat li {
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

#chat li #name {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  background-color: var(--yellow);
  display: none;
}

#chat li #message {
  background: var(--light-grey);
  border-radius: 25px;
  width: 97%;
  padding: 10px 25px;
  height: 5em;
  font-size: medium;
  word-wrap: break-word;
  margin: 0 10px 0 10px;
  display: flex;
}

div.message-name-time{
  display: flex;
  flex-direction: column;
}

#chat li #message span::first-letter {
  text-transform: uppercase;
}

#chat li.self #message {
  background: var(--light-grey);
  border-radius: 25px;
  margin-left: auto;
  margin: 0 10px 0 10px;
}

#chat li #message p {
  word-break: break-word;
  display: inline;
  margin: 0;
  text-align: start;
  font-weight: bold;
  font-size: medium;
  background-color: var(--yellow);
  width: fit-content;
  padding: 0.05em;
}

#chat li #message .time {
  font-size: smaller;
  float: right;
  color: grey;
  font-style: italic;
}

#chat li.self #message .time {
  color: grey;

}

img.avatar{
  height: 4em;
  width: 4em;
  border-radius: 5em;
  margin-right: 0.5em;
}

#typing {
  font-size: small;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 25px;
  position: absolute;
  bottom: 5em;
}