#chat {
  height: 20em;
  position: relative;
  background-color: var(--white);
  /* border: 0.5em solid var(--yellow); */
  display: flex;
  flex-direction: column;
  /* margin: 0 0 0 1em; */
  grid-column-start: 1;
}

#chat h2{
text-align: center;
}

.chat-section {
  overflow-y: scroll;
  height: 67%;
}

form {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 1em 0.5em 1em;
}

form input[type="text"] {
  font-family: Poppins, system-ui;
  background: #f5f7fb;
  border: none;
  border-radius: 25px;
  width: 80%;
  padding: 15px 20px;
}

form button {
  height: 50px;
  width: 50px;
  /* background-color: var(--yellow); */
  border: solid 2px var(--yellow);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#chat li {
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}

#chat li #name {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

#chat li.self #name,
#chat li.multiple #name {
  display: none;
}

#chat li #message {
  color: var(--white);
  background: var(--blue);
  border-radius: 25px;
  width: 100%;
  padding: 10px 25px;
  height: 5em;
  font-size: medium;
  word-wrap: break-word;
}

#chat li #message span::first-letter {
  text-transform: uppercase;
}

#chat li.self #message {
  background: var(--white);
  border-radius: 25px;
  margin-left: auto;
  border: 1.5px solid var(--yellow);
  color: var(--black);
}

#chat li #message p {
  word-break: break-word;
  display: inline;
  margin: 0;
  text-align: start;
  font-weight: bold;
  font-size: medium;
  font-style: italic;
}

#chat li #message .time {
  color: var(--white);
  font-size: smaller;
  float: right;
}

#chat li.self #message .time {
  color: var(--black);
}
