:root {
    --yellow: #ffe700;
    --light-yellow: #FFF48C;
    --white: #ffffff;
    --black: #000000;
    --blue: #009ce0;
    --light-blue: #94DFFF;
    --light-grey: #f0f0eb;
    --dark-grey: #333333;
    --font: 'Poppins', sans-serif;

    --border-radius-small: 2em;
    --border-radius-big: 4em;
}


main {
    padding: 0 3vw 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
}

.terug {
    margin: 3em 0 1em 5vw;

}

.terug a {
    color: var(--black);
    font: var(--font);
}


/* wish -----------------------------------------------------------------------------------------*/
.wish {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5em;
}

.wish article h2 {
    color: var(--dark-grey);
    background-color: var(--yellow) ;
    width: max-content;
}

#img-container {
    width: 100%;
    height: 25em;
    overflow: hidden;
}

.wish img {
    width: 100%;
    object-fit: cover;
    /* transform: translateY(-30%); */
}

.wish p:nth-of-type(1) {
    margin: 0 0 .5em 0;
}

.wish p:nth-of-type(2) {
    margin: 0.5em 0 3em 0;
}

.wish p:nth-of-type(3) {
    margin: 1.5em 0 .3em 0;
    color: gray;
}

.wish article {
    background-color: var(--white);
    padding: 4em 2em;
    border-radius: var(--border-radius-big);
    transform: translateY(-25%) ;
}

.wish article p#time {
    color: gray;
    font-size: 12px;
}

/* join --------------------------------------------------------------------------------------- */
.join {
    margin-top: 1em;
    display: flex;
    padding: 0;
}

.join button {
    background-color: var(--black);
    color: var(--white);
    padding: 0 1em;
    border: none;
    margin-right: .5em;
    height: 3em;
    cursor: pointer;
}

.join button:hover {
    background-color: var(--blue);
    transition: .5s;
    color: var(--white);
}



/* helpende -----------------------------------------------------------------------------------------*/
.joiners {
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 0 0 0 2em;
    display: flex;
    display: grid;
    grid-auto-rows: max-content;
    gap: 2em;
}

.joiners>div {
    position: relative;
    cursor: pointer;
}

.joiners h2 {
    color: var(--white);
    background-color: var(--blue);
    padding: .5em;
    margin-bottom: 1em;
    font-size: 20px;
    position: absolute;
    text-align: center;
}

.joiners h4 {
    font-size: 12px;
    color: var(--dark-grey);
    font-weight: lighter;

}

.joiners div ul li {
    display: flex;
    margin: 0 .5em .5em 0;
    background-color: var(--white);
}

.joiners img {
    width: 2em;
    height: 2em;
    border-radius: var(--border-radius-big);
    background-color: var(--white);
    margin-right: .5em;
    cursor: pointer;
}

/* ambassadors */
#ambassador > h3 {
    font-size: 14px;
    margin-top: 4em;
    color: var(--black);
    font-weight: lighter;
}

#ambassador > div h2 {
    font-weight: lighter;
}

#ambassador ul {
    margin-top: 1em;
}

#ambassador ul li {
    padding: 1em;
    border-radius: var(--border-radius-small);
}

#ambassador ul li div h3 {
    font-weight: lighter;
}

#ambassador img {
    width: 4.5em;
    height: 4.5em;
}

/* helpers */
#helpers > h3 {
    font-size: 14px;
    margin-top: 4em;
    color: var(--black);
    font-weight: lighter;
}

#helpers img {
    width: 4em;
    height: 4em;
}

#helpers ul {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#helpers ul li {
    display: flex;
    padding: .5em;
    border-radius: var(--border-radius-small);
}

#helpers ul li div h3 {
    font-weight: lighter;
}

/* sharers */
#sharers > h3 {
    font-size: 14px;
    margin-top: 4em;
    color: var(--black);
    font-weight: lighter;
}

#sharers ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: var(--white);
    margin-top: 1em;
    padding: 1em;
    border-radius: var(--border-radius-small);
}

#sharers ul li {
    display: flex;
    margin: .3em 0;
    justify-content: center;
    align-items: center;
}

#sharers ul li img {
    height: 3em;
    width: 3em;
}

#sharers li img:hover {
    filter: drop-shadow(3px 1px 3px var(--yellow));
  }

.box {
    display: none;
    position: absolute;
    background-color: var(--white);
    height: 3.8em;
    width: 5em;
    transform: translateY(-1%);
  }
  
  .box.show {
    display: block;
    margin-left: 8em;
    z-index: 10000;
  }

  #box-left.show {
    margin-right: 22vw;
  }
  
  .box h3{
    background-color: var(--yellow);
    font-size: 14px;
    width: max-content;
    padding: 0 .2em;
  }

  .box a{
    color: var(--black);
    text-decoration: underline;
    font-size: 10px;
  }

@media (width < 50em) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 1em;
    }

    .wish {
        padding: 1.5em;
        width: 100%;
    }

    .wish img {
        max-width: 100%;
    }


    .joiners {
        grid-column-start: 1;
        grid-row-start: 3;
        gap: 0;
    }

    .joiners  {
        margin-top: 2em;
    }

  

}

