:root {
  --yellow: #ffe700;

  --light-yellow: #FFF48C;

  --white: #ffffff;

  --black: #000000;

  --blue: #009ce0;

  --light-blue: #94DFFF;

  --light-grey: #f0f0eb;

  --dark-grey: #333333;

  --gray: #E9E9E9;

  --font: 'Poppins', sans-serif;

  --border-radius-small: 0.5em;
  --border-radius-medium: 2em;
  --border-radius-large: 4em;
}

.back {
  margin: 10em 0 1em 5vw;
}

.back a {
  color: var(--black);
  font: var(--font);
}



/*****************/
/* Validation */
/*****************/


input:required:invalid {
  border: 2px solid red;
}


input:required:valid {
  border: 2px solid green;
}

textarea:required:invalid {
  border: 2px solid red;
}

textarea:required:valid {
  border: 2px solid green;
}



/*****************/
/* PLACEHOLDER */
/*****************/


textarea#description::placeholder,
textarea#title::placeholder {
  font-style: var(--font);
  color: var(--dark-grey);
  font-size: 15px;
}


h1 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: .5em;
}

/*****************/
/* FORM CONTAINER */
/*****************/

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}




/*****************/
/* FORM */
/*****************/

form {
  width: 60%;
  margin: auto;
}




/*****************/
/*  FIELDSET */
/*****************/

fieldset {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-style: none;
  margin-bottom: 20px;
  padding: 40px 20px;
  border-radius: var(--border-radius-large);
}



fieldset label,
fieldset textarea,
fieldset .file-input-container,
#imageLink
{
  margin-bottom: 10px;
  width: 85%;
  position: relative;
  left: 5%;

}




fieldset .dropdown-menu label{
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;

}





fieldset label:focus,
fieldset textarea:focus,
fieldset .file-input-container:focus
{
  outline: none;
  box-shadow: 0 0 4px var(--black);
}




input#title::placeholder,
#imageLink::placeholder{
    font-family: var(--font);
    color: var(--dark-grey);
    font-size: 15px;

  }

  



fieldset label {
  font-weight: bold;
  font-size: 1em;
  font-family: var(--font);

}




fieldset input[type="text"],
fieldset input[type="url"] {
  width: 100%;
  padding: 10px;
  background-color: var(--gray);
  box-sizing: border-box;
  border: none;

}



input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--gray);
  box-sizing: border-box;
  border: none;
}


input[type="text"]:focus,
textarea:focus{
  outline: none;
  border-color: none;

}


#title{
    margin-bottom: 10px;
    width: 85%;
    position: relative;
    left: 5%;
}



#sendButton {

  background-color: var(--black);

  color: var(--white);

  padding: 10px 20px;

  font-size: 16px;

  border: none;

  cursor: pointer;

}


#sendButton:hover {
  background-color: var(--blue);
  font-weight: bold;
  color: var(--black);
  box-shadow: 0 0 3em rgba(0, 0, 1, 1);

}

#uploadButton {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
  border: none;
  cursor: pointer;
  width: auto;
  height: 3em;
  display: inline-block;
  width: fit-content;
  position: relative;
  left: 5%;
  font-weight: bold;
}

#closeDialog {
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
  border: none;
  cursor: pointer;
  width: auto;
  height: 3em;
  display: inline-block;
  width: fit-content;
  position: relative;
  left: 5%;
  font-weight: bold;
}


#uploadButton:hover{
    background-color: var(--blue);
    font-weight: bold;
    color: var(--black);
    box-shadow: 0 0 3em rgba(0, 0, 1, 1);
}




textarea#description::placeholder {
   font-family: var(--font);
   color: var(--dark-grey);
  }




  /* vanaf hier begint de dropdown menu  */




.dropdown {

    margin-bottom: 10px;

    width: 75%;

    position: relative;

    left: 5%;

    padding: 0;

  }

  

  .selected-option {

    cursor: pointer;

    padding: 10px;

    background-color: var(--gray);

    color: var(--dark-grey);

    border: none;

    position: relative;

    font-family: var(--font);

    font-size: 15px;

    font-weight: normal;

    display: flex;

    align-items: center;

  }

  .selected-option::after {
    content: "\2304";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px; 
    font-weight: bold; 
    line-height: 1;

  }

  

  .selected-option.open::after {

    content: "×";

    font-size: 18px; /* Adjust the font size as needed */

    

    transform: translateY(-50%);

    line-height: 1;

  }

  

  

  

  

  .dropdown-container {

    display: none;

    margin-top: 10px;

  }




.dropdown-menu {

  font-family: var(--font);

  display: grid;

  grid-template-columns: 1fr 1fr;

  background-color: var(--gray);

  min-width: 200px;

  border: border;

  padding: 10px;

  gap: 10px;

  animation: smooth-dropdown 0.3s ease-in-out both alternate;

}


@keyframes smooth-dropdown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}






.dropdown-menu li {
  align-items: center;
  font-weight: normal;
  background-color: var(--white);
  word-wrap: wrap;
  height: 2em;
  width: 100%;
  text-align: center;
}




.dropdown-menu li:hover {
  background-color: var(--dark-grey);
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--black);
}



.dropdown-menu label input[type="checkbox"] {
  display: none;
}





.show {
  display: block;
}







/* Style the file input */

.file-input-container {

  position: relative;

  display: inline-block;

  margin-top: 10px;




}




.file-input-container label {

  display: block;

  cursor: pointer;

  background-color: #f1f1f1;

  color: #333;

  padding: 10px;

  border: none;

  border-radius: 4px;

    font-family: var(--font);

}




.file-input-container input[type="file"] {

  opacity: 0;

  position: absolute;

  width: 100%;

  height: 100%;

  left: 0;

  top: 0;

  cursor: pointer;

}





.file-input-container {
    background-color: var(--gray);
    height: 10em;
}




p#selectedFileName {

  position: relative;

  left: 3%;

  margin-top: 10px;

  font-family: var(--font);

  color: var(--black);

  font-size: 16px;

  margin-bottom: 20px;

}





img{

    width: 5em;

    height: 4.5em;

    position: relative;

    left: 40%;

    top: 15%;

}

p{

    position: relative;

    left: 29%;

    top: 10%;

    font-family: var(--font);

    margin-left: 1em;

    margin-top: 1em;

    color: var(--black);

    font-size: 16px;

}





.hierarchy{
    position: relative;
    left: 3%;
    font-size: 15px;

 

}




#links label{
    font-size:15px;
    font-weight: bold;

}




.linkjes{

    position: relative;

    left: 5%;

    margin-top: 30px;

}

.linkjes a {

    padding: 5px 10px;

    background-color: var(--gray);

    color: var(--black);

    text-decoration: none;

    border-radius: 4px;

    margin-right: 10px;

    font-family: var(--font);

    

  }

  

  .linkjes a:last-child {

    margin-right: 0;

  }

  

  .linkjes a:hover {

    background-color: var(--black);

    color: var(--white);

  }

  dialog {
    width: 40em;

    padding: 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  
  dialog[open] {
    display: block;
  }
  
  /* .form-container {
    position: relative;
  } */
  
  /* form {
    width: 50%;
    margin: 0 auto;
  }
   */
  .dialog-form-container {
    position: relative;
    z-index: 99999;
  }
  
  
