/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --yellow: #ffe700;
  --white: #ffffff;
  --black: #000000;
  --blue: #009ce0;
  --light-grey: #f0f0eb;
  --dark-grey: #333333;
  --gray: #E9E9E9;
  --font: 'Poppins', sans-serif;
}

/* Placeholder Styling */
textarea#beschrijving::placeholder,
textarea#titel::placeholder {
  font-style: var(--font);
}

/* Heading Styling */
h1 {
  text-align: center;
  margin-bottom: 1em;
}

/* Form Container Styling */
.form-container {
  display: flex;
  justify-content: center;
}

/* Form Styling */
form {
  width: 50%;
}

/* Fieldset Styling */
fieldset {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-style: none;
  margin-bottom: 20px;
  padding: 20px;
}

/* Label, Textarea, Select, and File Input Container Styling */
fieldset label,
fieldset textarea,
fieldset .file-input-container {
  margin-bottom: 10px;
  width: 75%;
  position: relative;
  left: 15%;
}

/* Focus Styling */
fieldset label:focus,
fieldset textarea:focus,
fieldset .file-input-container:focus {
  outline: none;
  box-shadow: 0 0 4px var(--black);
}

/* Label Styling */
fieldset label {
  font-weight: bold;
  font-size: 1em;
  font-family: var(--font);
}

/* Input, Textarea, and Select Styling */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  background-color: var(--gray);
  box-sizing: border-box;
  border: none;
}

#titel{
    margin-bottom: 10px;
    width: 75%;
    position: relative;
    left: 15%;

}
/* Submit Button Styling */
#versturen {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
    margin-bottom: 10px;
    width: 75%;
    position: relative;
    left: 15%;
  }
  
  .selected-option {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    color: #333;
    border: none;
    position: relative;
    font-family: var(--font);
  }
  
  .selected-option .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    top: calc(50% - 2.5px);
    right: 10px;
    transform: translateY(-50%);
  }
  

.dropdown-menu {
    font-family: var(--font);
    display: none;
    background-color: var(--light-grey);
    min-width: 200px;
    border: border;
    max-height: 150px;
    overflow-y: auto;
}

/* hier kan ik de text veranderen, hier komt gelijk te styling van de buttons */
.dropdown-menu label {
  /* display: inline-block; */
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: normal;
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-wrap: wrap;
  height: 2em;
  width: 50%;
  text-align: center;
}

.dropdown-menu label:hover{
    background-color: var(--dark-grey);
    color: var(--white);

    border-radius: 4px;
    border: 1px solid var(--black);

}



.dropdown-menu label input[type="checkbox"] {
  display: none;

}


.show {
  display: block;
 
}




/* Style the file input */
.file-input-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.file-input-container label {
  display: block;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.file-input-container input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: pointer;
}


.file-input-container {
    background-color: var(--gray);

    height: 10em;
}

img{
    width: 5em;
    height: 4.5em;
    align-items: center;
}
p{

    margin-left: 1em;
    margin-top: 1em;
    color: var(--black);
}