*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #ffe700;
    --light-yellow: #FFF48C;
    --white: #ffffff;
    --black: #000000;
    --blue: #009ce0;
    --light-blue:#94DFFF;
    --light-grey: #f0f0eb;
    --dark-grey: #333333;
    --font: 'Poppins', sans-serif;
}

body {
    background-color: var(--light-grey);
    font-family: var(--font);
}

header {
    background-color: var(--white);
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}


footer {
    background-color: var(--dark-grey);
}


/*****************/
/* NAVIGATIEMENU */
/*****************/
header {
    max-width: 100%;
    height: auto;
}


/* First nav */
nav.inlog-container {
    width: 100%;
    height: fit-content;
    background-color: var(--dark-grey);
    padding: 10px;
}

nav.inlog-container ul {
    text-align: right;
    width: 100%;
    height: 100%;
}

nav.inlog-container li {
    display: inline;
    margin: 0 5px;
}

nav.inlog-container a {
    display: inline-block;
    padding: 2px;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

/* Logo */
header img {
    width: 4em;
    height: 4em;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1em;
  position: absolute;
  right: .1em;
}

.menuButton span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000; 
  margin-bottom: 6px;
}

/* Second Nav */
nav.navigation-links {
    width: 100%;
    height: 0;
    padding: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    background-color: var(--white);
    z-index: 1000;
    border-bottom: solid var(--dark-grey) 1px;
  }

nav.navigation-links.open {
    height: fit-content;
  }

nav.navigation-links ul {
    display: flex;
    flex-direction: row;

    gap: .5em;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav.navigation-links ul li {
    text-align: center;
    width: 90%;
    height: 100%;
}

/* nav.navigation-links ul li:last-of-type  {
  background-color: var(--blue);
clip-path: polygon(0 35%, 100% 0, 100% 68%, 0 100%);
transform: skew(-20deg);
padding: 1em;
width: fit-content;
font-weight: bold;
border-radius: .5em;
}
 */

nav.navigation-links ul li:last-of-type {
  background-color: var(--blue);
  /* clip-path: polygon(0 35%, 100% 0, 100% 68%, 0 100%); */
  transform: rotate(-20deg);
  padding: 1em;
  width: fit-content;
  font-weight: bold;
  border-radius: .5em;
  display: inline-block;
  /* transform-origin: top left; */
  transition: transform 0.5s ease;
}

nav.navigation-links ul li:last-of-type span {
  /* color: var(--white); */
  transform: rotate(20deg);
  display: inline-block;

  & a{
    color: var(--white);
  }
  
}

nav.navigation-links ul:has(a) li:last-of-type:hover {

transform: rotate(-10deg);
}

nav.navigation-links a {
    text-align: center;
    color: var(--dark-grey);
    
}


@media (min-width: 50em) {
    nav.navigation-links {
      display: block;
      height: auto;
      transition: transform 0.3s ease-out;
      overflow: visible;
    }
  
    header div {
      display: none;
    }
  }


  @media (max-width: 50em) {
      button.menuButton{
        margin-top: 1em;
      }
      nav.navigation-links {
        padding: 0;
        position: absolute;
      }

    nav.navigation-links ul {
        flex-direction: column; 
        margin-top: 1em;
        z-index: 1000;
      }

      nav.navigation-links ul li:nth-of-type(1) {
        display: none;
      }

      nav.navigation-links ul li {
        margin-bottom: 1em ;
      }


header div img {
        width: 4em;
        height: 4em;
        margin:.8em 0 0 .8em;
      }

  }