/********/
/* ROOT */
/********/
:root {
  --yellow: #ffe700;
  --light-yellow: #fff48c;
  --white: #ffffff;
  --black: #000000;
  --blue: #009ce0;
  --light-blue: #94dfff;
  --light-grey: #f0f0eb;
  --dark-grey: #333333;
  --font: "Poppins", sans-serif;

  --border-radius-small: 0.5em;
  --border-radius-medium: 2em;
  --border-radius-large: 4em;
}

/***********/
/* STYLING */
/***********/
body {
  height: 70vh;
  overflow: hidden;
  background: var(--white);
  font-family: "Poppins", sans-serif;
  grid: none;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  justify-content: center;
}

.content {
  position: relative;
  width: 100%;
  text-align: center;
}

.content h2 {
  font-size: 8em;
}

.content h2:nth-child(1) {
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 0.02em var(--blue);
}

.content h2:nth-child(2) {
  color: var(--blue);
  -webkit-text-stroke: 0.02em var(--blue);
  animation: animate 4s ease-in-out infinite;
}

/*************/
/* KEYFRAMES */
/*************/
@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        15% 44%,
        32% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  20% {
    clip-path: polygon(0% 60%,
        16% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

p {
  color: var(--blue);
}