/* Color variable */
:root {
    --yellow: #ffe700;
    --light-yellow: #FFF48C;
    --white: #ffffff;
    --black: #000000;
    --blue: #009ce0;
    --light-blue: #94DFFF;
    --light-grey: #f0f0eb;
    --dark-grey: #333333;
    --font: 'Poppins', sans-serif;
}

body {
    overflow: auto;
}

main {
    margin: 20px;
    /* overflow: hidden; */
}


/***********/
/* SLOGAN  */
/***********/
.slogan-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: fit-content;

    background: url('../images/intro-pic.png');
    background-position: 25% 45%;
    padding: .5em;
}


.slogan-container h1 {
    grid-column: span 2;
    position: relative;
    font-weight: 700;
    color: var(--white);
    padding: 1em 2em;
}

.slogan-container h1 span {
    display: block;
    width: fit-content;
    padding: 5px;
    margin: 10px 0;
}

.slogan-container span:nth-child(1) {
    background-color: var(--blue);
    color: var(--white);
    transform: rotate(5deg);
}

.slogan-container span:nth-child(2) {
    background-color: var(--yellow);
    color: var(--black);
    transform: translateX(-20%)
}

.slogan-container span:nth-child(3) {
    background-color: var(--white);
    color: var(--black);
}

.slogan-container span:nth-child(4) {
    background-color: var(--black);
    color: var(--white);
    transform: rotate(-5deg);
}

.slogan-call-to-action {
    background-color: var(--yellow);
    width: fit-content;
    padding: 1.5em;
    border-radius: 1em; 
}

.slogan-call-to-action a {
    display: inline-block;
    margin-top: .5em;
    padding: .5em 1em;
    background-color: var(--black);
    color: var(--white);
}

/************************/
/* IDEA'S OVERWIEW LIST */
/************************/
.content {
    /* width: 100%; */
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 1fr;
    /* max-width: 1200px; */
    max-width: 75em;
    margin: 20px auto;
    gap: 20px;
}

.content h2 {
    grid-column: span 3;
}

/***************************/
/*  SUGGESTIONS THUMBNAILS */
/***************************/

.thumbnail-container {
    background-color: var(--white);
    border-radius: 2em;

}



.grid-container .thumbnail-container:hover {
    animation: hover-animation 1s ease-in-out infinite alternate;
}

@keyframes hover-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.thumbnail-container img {
    width: 100%;
    border-radius: 2em;

}



.thumbnail-container figure {
    position: relative;
}

.thumbnail-container figcaption {
    background-color: var(--yellow);
    color: var(--black);
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 5px;
    font-weight: bold;
}

.thumbnail-container:nth-child(2) figcaption {
    background-color: var(--blue);
    color: var(--white);
}

.thumbnail-container:nth-child(3) figcaption {
    background-color: var(--black);
    color: var(--white);
}

.thumbnail-container:nth-child(4) figcaption {
    background-color: var(--white);
    color: var(--black);
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info li:nth-child(2) {
    text-align: right;
}


.thumbnail-container article {
    padding: 1em;
    color: var(--black);
    background-color: var(--white);
    transform: translateY(-20%);
    border-radius: 2em;

}

.thumbnail-container article p {
    position: relative;
    height: 8em;
    overflow: hidden;
}

.thumbnail-container article p::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent 10px, white);
}


.thumbnail-container article h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.5em 0;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    place-items: center;
}

.statistics img {
    width: 32%;
    border-radius: 0;
}
.statistics span {
    font-weight: bold;
    margin-right: .2em;
}


/* list of themes */
.suggestion-themes {
    margin: .5em 0;
    display: flex;
    width: 100%;
    gap: .5em;
    flex-direction: row;

}

.suggestion-themes li {
    background-color: var(--light-grey);
    padding: .5em;
    border-radius: .5em;
}

/* .statistics li:nth-child(2) {
    text-align: right;
} */

/****************/
/* LATEST SUGGESTION CONTAINER */
/****************/

.latest-ideas {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 200%; */
    gap: 20px;
    margin: 2em 0;
    width: 100%;
}

.latest-ideas>h2 {
    grid-column: span 3;
    width: fit-content;
    background-color: var(--light-blue);
    padding: .5em;
}


.latest-ideas .thumbnail-container {

    border-radius: 2em;


    height: 34em;

    /* box-sizing: border-box; */
}

.latest-ideas .thumbnail-container article {
    padding: 1em;
    color: var(--black);
    background-color: var(--white);
    transform: translateY(-20%);
    border-radius: 2em;
}


.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 75em;
    margin: 20px auto;
}

.grid-container .thumbnail-container article {

    transform: translateY(-18%);
}

.grid-container .thumbnail-container article h2 {
    font-size: 1.2em;
}

.grid-container .thumbnail-container article p{

   font-size: 1em;
}
.grid-container .user-info {
    display: none;
}
/**********/
/* FILTER */
/**********/
main form {
    position: relative;
    max-width: 75em;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form fieldset {
    flex-grow: 2;
    border: none;
}

form fieldset>ul {
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
}



form fieldset>ul li {
    display: flex;
    flex-direction: column;
}

form fieldset>ul li span {
    display: inline-block;

}

form fieldset>ul li span:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: .2em;
}


form fieldset>ul li span:nth-of-type(2) {
    background-color: var(--white);
    padding: .5rem 1rem;
}

form fieldset>ul li span:nth-of-type(2):hover {
    cursor: pointer;
}

form fieldset>ul li:nth-of-type(2) label {
    background-color: var(--white);
    padding: .4rem 1rem;
    width: fit-content;
    height: fit-content;

}

.sort-btn {
    margin-left: 2em;
}

input[name="search"] {
    width: 20em;
    padding: .5em 1em;
    border: none;
}

/* Filter buttons */

.filter-content button[type="submit"] {
    margin-top: .5em;
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 1em;
    width: 100%;
    text-align: center;
    font-family: var(--font);
    font-weight: bold;
}

.filter-content button[type="submit"]:hover {
    background-color: var(--blue);
    cursor: pointer;
}



form a:hover {
    background-color: var(--blue);
}

#sorting,
#theme {
    position: absolute;
    z-index: 2;
    display: none;
    /* width: 100%; */
    width: fit-content;
    padding: 1em;
    background-color: var(--white);
    grid-column: span 2;
    cursor: pointer;
}



#theme.show-filter-menu {
    display: block;
}

#sorting.show-filter-menu {
    display: block;
}

/* .active[data-filter-content] {
    display: block;
} */
/* 
[data-filter-content] {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    width: fit-content;
    padding: 1em;
    background-color: var(--white);
    grid-column: span 2;
}
*/
.active[data-filter-content] {
    display: block;
}

.theme-filter-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.sorting-filter-items {
    display: grid;

    gap: 10px;
}

.theme-filter-items li,
.sorting-filter-items li {
    display: flex;
    background-color: var(--light-grey);
    width: 100%;
    height: 100%;
    /* padding: .5em; */
}

.theme-filter-items input[type="checkbox"],
.sorting-filter-items input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
}

.theme-filter-items span,
.sorting-filter-items span {
    display: inline-block;
    padding: .5em;
    width: 138px;
}

.sorting-filter-items span {
    width: 20em;
}


input:checked+span {
    background-color: var(--black);
    color: var(--white);
    padding: .5em;
}

/* Sorting */
#sorting {
    transform: translateX(141%);
}

.close-filter {
    background-color: none;
    border: none;
    font-family: var(--font);
    text-decoration: underline;
    line-height: 1.5;
}

/* Responsive */
@media screen and (max-width: 55em) {

    /* main {
        overflow: auto;
    } */

    .content {
        display: block;
    }

    .scroll-snap {
        width: 100%;


    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-column: span 3;
    }


    /* .grid-container .thumbnail-container {
        flex: 0 0 100%;
        width: 100%;
        height: 600px;
        scroll-snap-align: start;
        box-sizing: border-box;
    } */



    .grid-container.thumbnail-container {
        grid-column-start: 1;
        grid-column-end: -1;

    }

    .filter-menu {
        grid-column: span 1;
    }

    .latest-idea {
        width: 100%;
    }


}

@media screen and (max-width: 40em) {

    .slogan-container {
        grid-template-columns: 1fr;
    }

    main form {
        flex-direction: column;
    }

    main form>fieldset ul {
        flex-direction: column;
    }

    .theme-filter-items {
        grid-template-columns: 1fr 1fr;
    }

    #sorting {
        transform: translatey(0%);
    }

    .sort-btn {
        margin-left: 0;
    }

    #theme {
        transform: translatey(-42%);
    }

    .latest-ideas .thumbnail-container {
        width: 16em;
    }
}