:root {
    --yellow: #ffe700;
    --white: #ffffff;
    --black: #000000;
    --blue: #009ce0;
    --light-grey: #f0f0eb;
    --dark-grey: #333333;


    --font: 'Poppins', sans-serif;
}

body {
    overflow: auto;
}

main {
    margin: 20px;
    /* overflow: hidden; */
}


/***********/
/* SLOGAN  */
/***********/
.slogan-container {
    width: 100%;
    height: fit-content;
    height: fit-content;
    background: url('../images/intro-pic.png');
    background-position: 25% 45%;
    padding: 1em;
}

.slogan-container h1 {
    position: relative;
    font-weight: 700;
    color: var(--white);
    padding: 2em;
}

.slogan-container h1 span {
    display: block;
    width: fit-content;
    padding: 5px;
    margin: 10px 0;
}

.slogan-container span:nth-child(1) {
    background-color: var(--blue);
    color: var(--white);
    transform: rotate(5deg);
}

.slogan-container span:nth-child(2) {
    background-color: var(--yellow);
    color: var(--black);
    transform: translateX(-20%)
}

.slogan-container span:nth-child(3) {
    background-color: var(--white);
    color: var(--black);
}

.slogan-container span:nth-child(4) {
    background-color: var(--black);
    color: var(--white);
    transform: rotate(-5deg);
}

/************************/
/* IDEA'S OVERWIEW LIST */
/************************/
.content {
    /* width: 100%; */
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 1fr;
    /* max-width: 1200px; */
    max-width: 75em;
    margin: 20px auto;
    gap: 20px;
}

/****************/
/* LATEST IDEAS */
/****************/

.latest-ideas {
    grid-column: span 3;
    display: grid;
    /* width: 200%; */
    margin: 2em 0;
    width: 100%;
}

.latest-ideas .scroll-snap {


    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* width: 100vw; */
    gap: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
}

.latest-ideas .thumbnail-container {
    /* scroll-snap-align: start; */

    flex: 0 0 485px;
    width: 485px;
    height: 600px;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 75em;
    margin: 20px auto;
}

.content h2 {
    grid-column: span 3;
}

.thumbnail-container {
    background-color: var(--white);

}



.grid-container .thumbnail-container:hover {
    animation: hover-animation 1s ease-in-out infinite alternate;
}

@keyframes hover-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.thumbnail-container img {
    width: 100%;

}

.thumbnail-container figure {
    position: relative;
}

.thumbnail-container figcaption {
    background-color: var(--yellow);
    color: var(--black);
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 5px;
    font-weight: bold;
}

.thumbnail-container:nth-child(2) figcaption {
    background-color: var(--blue);
    color: var(--white);
}

.thumbnail-container:nth-child(3) figcaption {
    background-color: var(--black);
    color: var(--white);
}

.thumbnail-container:nth-child(4) figcaption {
    background-color: var(--white);
    color: var(--black);
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-info li:nth-child(2) {
    text-align: right;
}


.thumbnail-container article {
    padding: 1em;
    color: var(--black);

}

.thumbnail-container article p {
    position: relative;
    height: 8em;
    overflow: hidden;
}

.thumbnail-container article p::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent 10px, white);
}


.thumbnail-container article h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0.5em 0;
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.statistics span {
    font-weight: bold;
}

/* .statistics li:nth-child(2) {
    text-align: right;
} */




/**********/
/* FILTER */
/**********/
main form {
    position: relative;
    max-width: 75em;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: start;
}
form fieldset {
   flex-grow: 2;
   border: none;
}
form fieldset > ul{
display: flex;
gap: 20px;
}

form fieldset>ul li {
    background-color: var(--white);
    padding: .5rem 1rem;
}

form a {
    display: inline-block;
    padding: .5em 1em;
    background-color: var(--black);
    color: var(--white);

}

form a:hover {
    background-color: var(--blue);
}

[data-filter-content] {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    padding: 1em;
    background-color: var(--white);
    grid-column: span 2;
}

.active[data-filter-content] {
    display: block;
}


/* Responsive */
@media screen and (max-width: 55em) {

    /* main {
        overflow: auto;
    } */

    .content {
        display: block;
    }

    .scroll-snap {
        width: 100%;


    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-column: span 3;
    }

    /* .grid-container .thumbnail-container {
        flex: 0 0 100%;
        width: 100%;
        height: 600px;
        scroll-snap-align: start;
        box-sizing: border-box;
    } */



    .grid-container.thumbnail-container {
        grid-column-start: 1;
        grid-column-end: -1;

    }

    .filter-menu {
        grid-column: span 1;
    }

    .latest-idea {
        width: 100%;
    }


}