:root {
  --yellow: #ffe700;
  --light-yellow: #FFF48C;
  --white: #ffffff;
  --black: #000000;
  --blue: #009ce0;
  --light-blue: #94DFFF;
  --light-grey: #f0f0eb;
  --dark-grey: #333333;
  --grey: #E9E9E9;
  --font: 'Poppins', sans-serif;

  --border-radius-small: 0.5em;
  --border-radius-medium: 2em;
  --border-radius-large: 4em;
}

main {
  text-align: center;
  display: grid;
  place-items: center;
  justify-content: center;
  height: 70vh;

}

.sent {
  display: inline-block;
}

.sent h1 span {
  display: block;
  width: fit-content;
  padding: 0.313em;
  margin: 0.625em 0;
}

.sent span:nth-child(1) {
  background-color: var(--blue);
  color: var(--white);
  transform: rotate(5deg);
}

.sent span:nth-child(2) {
  background-color: var(--yellow);
  color: var(--black);
  transform: translateX(-20%);
}

.sent span:nth-child(3) {
  background-color: var(--white);
  color: var(--black);
}

.sent span:nth-child(4) {
  background-color: var(--black);
  color: var(--white);
  transform: rotate(-5deg);
  width: max-content;

} 

.back {
  margin: 3em 0 1em 5vw;
}

.back a {
  color: var(--black);
  font: var(--font);
}
