*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {

}

body{
    background-color: lightgray;
}

header{

}


h1, h2, a{

}



/* detailpage hilal */


/* chat */
.chat {
    width: 25em;
    background-color: white;
    position: relative;
    margin-left: 30vw;
    margin-top: 15vh;
}

.chat h2 {
    padding: .2em 1em;
}

.chat-messages{
    background-color: #FFE700;
    padding: 2em;    
    height: 60vh;
}


.you {
    position: absolute;
    right: 1em;
}

.you:nth-of-type(1){
    bottom: 5em;
}

.you:nth-of-type(2){
    top: 1em;
}


.you p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other {
    position: absolute;
    left: 1em;
    top: 35%;
}


.chat h3{
  font-family: arial; 
  font-size: .9em; 
}


.other p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other input {
    border-radius: 2em;
    width: 100%;
    height: 2.5em;
}

.send {
    width: 3em;
    height: 3em;
    background-color: gray;
    border-radius: 5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: none;
    
}


.chat-bericht {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 80%;
    height: 3em;
    border-radius: 2em;
    border: none;
    padding: 0 2em;
}



footer{

}




