*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --yellow: #ffe700;
    --white: #ffffff;
    --black: #000000;
    --blue: #009ce0;
    --light-grey: #f0f0eb;
    --dark-grey: #333333;


    --font: 'Poppins', sans-serif;
}


body {
    background-color: var(--light-grey);
    font-family: var(--font);
}

header {
    background-color: var(--white);
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}



/* detailpage hilal */


/* chat */
.chat {
    width: 25em;
    background-color: white;
    position: relative;
    margin-left: 30vw;
    margin-top: 15vh;
}

.chat h2 {
    padding: .2em 1em;
}

.chat-messages{
    background-color: #FFE700;
    padding: 2em;    
    height: 60vh;
}


.you {
    position: absolute;
    right: 1em;
}

.you:nth-of-type(1){
    bottom: 5em;
}

.you:nth-of-type(2){
    top: 1em;
}


.you p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other {
    position: absolute;
    left: 1em;
    top: 35%;
}


.chat h3{
  font-family: arial; 
  font-size: .9em; 
}


.other p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other input {
    border-radius: 2em;
    width: 100%;
    height: 2.5em;
}

.send {
    width: 3em;
    height: 3em;
    background-color: gray;
    border-radius: 5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: none;
    
}


.chat-bericht {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 80%;
    height: 3em;
    border-radius: 2em;
    border: none;
    padding: 0 2em;
}

footer {
    background-color: var(--dark-grey);
}

/* detailpage hilal */


/* chat */
.chat {
    width: 25em;
    background-color: white;
    position: relative;
    margin-left: 30vw;
    margin-top: 15vh;
}

.chat h2 {
    padding: .2em 1em;
}

.chat-messages{
    background-color: #FFE700;
    padding: 2em;    
    height: 60vh;
}


.you {
    position: absolute;
    right: 1em;
}

.you:nth-of-type(1){
    bottom: 5em;
}

.you:nth-of-type(2){
    top: 1em;
}


.you p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other {
    position: absolute;
    left: 1em;
    top: 35%;
}


.chat h3{
  font-family: arial; 
  font-size: .9em; 
}


.other p {
    background-color: white;
    padding:.5em;
    border-radius: 2em;
}

.other input {
    border-radius: 2em;
    width: 100%;
    height: 2.5em;
}

.send {
    width: 3em;
    height: 3em;
    background-color: gray;
    border-radius: 5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    border: none;
    
}


.chat-bericht {
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 80%;
    height: 3em;
    border-radius: 2em;
    border: none;
    padding: 0 2em;
}

nav.inlog-container a {
    display: inline-block;
    padding: 2px;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

/* Logo */

header img {
    width: 4em;
    height: 4em;
}

/* Second Nav */
nav.navigation-links {
    width: 100%;
    height: auto;
    padding: 10px;
   display: none;
}

nav.navigation-links ul {
    display: flex;
    flex-direction: row;
  
    gap: .5em;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav.navigation-links ul li {

    text-align: center;
    width:90%;
    height: 100%;
}

nav.navigation-links a {
   text-align: center;
    color: var(--dark-grey)
}

footer {
    background-color: var(--dark-grey);
}


/*****************/
/* NAVIGATIEMENU */
/*****************/
header {
    max-width: 100%;
    height: auto;
}

/* First nav */
nav.inlog-container {
    width: 100%;
    height: fit-content;
    background-color: var(--dark-grey);
    padding: 10px;
}

nav.inlog-container ul {
    text-align: right;
    width: 100%;
    height: 100%;
}

nav.inlog-container li {
    display: inline;
    margin: 0 5px;

}

nav.inlog-container a {
    display: inline-block;
    padding: 2px;
    border-bottom: 2px solid var(--white);
    color: var(--white);
}

/* Logo */

header img {
    width: 4em;
    height: 4em;
}

/* Second Nav */
nav.navigation-links {
    width: 100%;
    height: auto;
    padding: 10px;
   display: none;
}

nav.navigation-links ul {
    display: flex;
    flex-direction: row;
  
    gap: .5em;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav.navigation-links ul li {

    text-align: center;
    width:90%;
    height: 100%;
}

nav.navigation-links a {
   text-align: center;
    color: var(--dark-grey)
}

@media (min-width: 44em){
    nav.navigation-links {
   display: block;
    }
}