*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {

}

body{
    background-color: lightgray;
}

header{

}


h1, h2, a{

}



/* detailpage hilal */


/* chat */
.chat {
    width: 30vw;
    height: 30vh;
    background-color: white;
}

.chat-messages{
    background-color: #FFE700;
    padding: 2em;

}

footer{

}




