:root {
  --yellow: #ffe700;
  --light-yellow: #fff48c;
  --white: #ffffff;
  --black: #000000;
  --blue: #009ce0;
  --light-blue: #94dfff;
  --light-grey: #f0f0eb;
  --dark-grey: #333333;
  --font: "Poppins", sans-serif;
  --border-radius-small: 0.5em;
  --border-radius-medium: 2em;
  --border-radius-large: 4em;
}

body {
  overflow: auto;
}

main {
  margin: 20px;
}

/***********/
/* SLOGAN  */
/***********/
.slogan-wrapper {
  background: url("../images/intro-pic.webp");
  background-position: 25% 45%;
  width: 100%;
  padding: 0.5em;
  height: fit-content;
}

.slogan-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 75em;
  margin: 1.25em auto;
}

.slogan-container h1 {
  grid-column: span 2;
  position: relative;
  font-weight: 700;
  color: var(--white);
  padding: 1em 2em;
  padding-left: 0;
}

.slogan-container h1 span {
  display: block;
  width: fit-content;
  padding: .3em;
  margin: 0.7em 0;
}

.slogan-container span:nth-child(1) {
  background-color: var(--blue);
  color: var(--white);
  transform: rotate(5deg);
  animation-name: slogan-1;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.125, 0.995, 1, 1);
}

.slogan-container span:nth-child(2) {
  background-color: var(--yellow);
  color: var(--black);
  transform: translateX(-20%);
}

.slogan-container span:nth-child(3) {
  background-color: var(--white);
  color: var(--black);
  animation-name: slogan-2;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.125, 0.995, 1, 1);
}

.slogan-container span:nth-child(4) {
  background-color: var(--black);
  color: var(--white);
  transform: rotate(-5deg);
}

.slogan-call-to-action {
  background-color: var(--yellow);
  width: fit-content;
  padding: 1.5em;
  border-radius: 1em;
}

.slogan-call-to-action a {
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: var(--black);
  color: var(--white);
  transition: all .5s ease-in-out;
}

.slogan-call-to-action a:hover {
  transform: rotate(-5deg);
  background-color: var(--blue);
}

@keyframes slogan-1 {
  0% { transform: translateY(0);}
  100% { transform: translateY(-1rem);}
}

@keyframes slogan-2 {
  0% { transform: rotate(0);}
100% {transform: rotate(-8deg);}
}

/************************/
/* IDEA'S OVERWIEW LIST */
/************************/
.content {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 75em;
  margin: 1.25em auto;
  gap: 1.25em;
}

.content h2 {
  grid-column: span 3;
}

.content>h2 {
  width: fit-content;
  background-color: var(--light-blue);
  padding: 0.5em;
  margin: 0.5em 0;
}

/***************************/
/*  SUGGESTIONS THUMBNAILS */
/***************************/

.thumbnail-container {
  background-color: var(--white);
  border-radius: var(--border-radius-medium);
}

.thumbnail-container img {
  width: 100%;
  border-radius: var(--border-radius-medium);
}

.thumbnail-container figure {
  position: relative;
  height: 15.625em;
  background-color: var(--yellow);
  border-radius: var(--border-radius-medium);
}

.thumbnail-container figcaption {
  background-color: var(--yellow);
  color: var(--black);
  position: absolute;
  top: 1em;
  left: 1em;
  padding: 0.3em;
  font-weight: bold;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user-info li:nth-child(2) {
  text-align: right;
}

.thumbnail-container article {
  padding: 1em;
  color: var(--black);
  background-color: var(--white);
  transform: translateY(-18%);
  border-radius: var(--border-radius-medium);
}

.thumbnail-container article p {
  position: relative;
  height: 8em;
  overflow: hidden;
}

.thumbnail-container article p::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 10px, var(--white));
}

.thumbnail-container article h2 {
    height: 4em;
  font-size: 1.5em;
  width: 100%;
  font-weight: 700;
  margin: 0.5em 0;
}

.statistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1.25em;
  place-items: center;
}

.statistics li {
  text-align: center;
  display: flex;
  align-items: center;
}

.statistics img {
  width: 32%;
  border-radius: 0;
  margin-left: 1em;
}

.statistics span {
  margin-left: 0.2em;
}

.suggestion-themes {
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5em;
  font-size: .9em;
  flex-direction: row;
}

.suggestion-themes li {
  background-color: var(--light-grey);
  padding: 0.5em;
  border-radius: 0.5em;
}

.suggestion-themes li::first-letter {
  text-transform: uppercase;
}

/*******************************/
/* LATEST SUGGESTION CONTAINER */
/*******************************/

.latest-ideas {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25em;
  width: 100%;
}

.latest-ideas .thumbnail-container {
  border-radius: var(--border-radius-medium);
  background-color: transparent;
}

.latest-ideas .thumbnail-container article {
  padding: 1em;
  color: var(--black);
  background-color: var(--white);
  transform: translateY(-23%);
  border-radius: var(--border-radius-medium);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

.latest-ideas .thumbnail-container article:hover {
  transform: translateY(-35%);
}

/*******************/
/* ALL SUGGESTIONS */
/*******************/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(24em, auto);
  gap: 1.25em;
  max-width: 75em;
  margin: 20px auto;
}

.grid-container .thumbnail-container {
  width: 100%;
  height: 32em;
  overflow: hidden;
}

.grid-container .thumbnail-container a {
  transform: translateY(-18%);
}

.grid-container .thumbnail-container article h2 {
  font-size: 1.2em;
}

.grid-container .thumbnail-container article p {
  font-size: 1em;
  height: 6em;
}

.grid-container .thumbnail-container article {
  width: 100%;
  transform: translateY(-19%);
  transition: transform .5s ease-in-out;
}

.grid-container .thumbnail-container article:hover {
  transform: translateY(-38%);
}

.grid-container .user-info {
  display: none;
}

.grid-container .thumbnail-container figure {
  height: 15.625em;
}

.grid-container .thumbnail-container figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**********/
/* FILTER */
/**********/
main form {
  position: relative;
  max-width: 75em;
  margin: 1.25em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form fieldset {
  flex-grow: 2;
  border: none;
}

form fieldset>ul {
  display: flex;
  gap: 1.25em;
}

form fieldset>ul li {
  display: flex;
  flex-direction: column;
}

form fieldset>ul li span {
  display: inline-block;
}

form fieldset>ul li span:nth-of-type(1) {
  font-weight: bold;
  margin-bottom: 0.2em;
}

form fieldset>ul li span:nth-of-type(2) {
  background-color: var(--white);
  padding: 0.5rem 1rem;
}

form fieldset>ul li span:nth-of-type(2):hover {
  cursor: pointer;
}

form fieldset>ul li:nth-of-type(2) label {
  background-color: var(--white);
  padding: 0.4rem 1rem;
  width: fit-content;
  height: fit-content;
}

.sort-btn {
  margin-left: 2em;
}

input[name="search"] {
  width: 20em;
  padding: 0.5em 1em;
  border: none;
}

form a {
  display: inline-block;
  padding: .5em 1em;
  background-color: var(--black);
  color: var(--white);
}

.filter-content button[type="submit"] {
  margin-top: 0.5em;
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 1em;
  width: 100%;
  text-align: center;
  font-family: var(--font);
  font-weight: bold;
}

.filter-content button[type="submit"]:hover {
  background-color: var(--blue);
  cursor: pointer;
}

form a:hover {
  background-color: var(--blue);
}

#sorting,
#theme {
  position: absolute;
  z-index: 2;
  display: none;
  width: fit-content;
  padding: 1em;
  background-color: var(--white);
  grid-column: span 2;
  cursor: pointer;
}

#theme.show-filter-menu {
  display: block;
  transform-origin: top;
  animation: smooth-dropdown 0.3s ease-in-out both alternate;
}

#sorting.show-filter-menu {
  display: block;
    animation: smooth-dropdown 0.3s ease-in-out both alternate;
}
@keyframes smooth-dropdown {
  from { opacity: 0;}
  to {opacity: 1;}
}

.active[data-filter-content] {
  display: block;
}

.theme-filter-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.625em;
}

.sorting-filter-items {
  display: grid;
  gap: 0.4em;
}

.theme-filter-items li,
.sorting-filter-items li {
  display: flex;
  background-color: var(--light-grey);
  width: 100%;
  height: 100%;
}

.theme-filter-items input[type="checkbox"],
.sorting-filter-items input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
}

.theme-filter-items span,
.sorting-filter-items span {
  display: inline-block;
  padding: 0.5em;
  width: 8.625em;
}

.theme-filter-items span::first-letter,
.sorting-filter-items span::first-letter{
  text-transform: uppercase;
}

.sorting-filter-items span {
  width: 20em;
}

input:checked+span {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5em;
}

#sorting {
  transform: translateX(141%);
}

.close-filter {
  background-color: none;
  border: none;
  font-family: var(--font);
  text-decoration: underline;
  line-height: 1.5;
}


/**************/
/* SELECTMENU */
/**************/
@-moz-document url-prefix() {
  .sort-btn  span{
  display: none;
  }
  
.select-menu-sorting {
  display: none;
}
}

.select-menu-sorting::part(button) {
  padding: .9em;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}

.select-menu-sorting::part(selected-value) {
  font-size: 1.2em;
}

.select-menu-sorting::part(listbox) {
  box-shadow: none;
  width: 30em;
  height: auto;
  padding: .5em 1em;
  animation: smooth-dropdown 0.3s ease-in-out both alternate;
}

.select-menu-sorting option {
  padding: .9em;
  margin: .5em 0;
  font-size: 1.2em;
  border: none;
  background-color: var(--light-grey);
  color: var(--black);
}

.select-menu-sorting option:hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

/**************/
/* RESPONSIVE */
/**************/
@media (max-width: 60em) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
  }
}

@media (max-width: 55em) {
  .content {
    display: block;
  }

  .latest-ideas {
    display: grid;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-column: span 3;
  }

  .latest-ideas.thumbnail-container {
    margin: 0.625em 0;
  }

  .filter-menu {
    grid-column: span 1;
  }
}

@media (max-width: 40em) {
  .slogan-container {
    grid-template-columns: 1fr;
  }

  main form {
    flex-direction: column;
  }

  main form>fieldset ul {
    flex-direction: column;
  }

  .theme-filter-items {
    grid-template-columns: 1fr 1fr;
  }

  #sorting {
    transform: translatey(0%);
  }

  .sort-btn {
    margin-left: 0;
  }

  #theme {
    transform: translatey(-42%);
  }

  .select-menu-sorting::part(listbox) {
  box-shadow: none;
  width: 10em;
  height: auto;
  padding: .5em 1em;
  animation: smooth-dropdown 0.3s ease-in-out both alternate;
}

  .latest-ideas {
    display: grid;
    grid-column: span 3;
    grid-template-columns: 1fr;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-column: span 3;
  }

}